.footer
  span Theme by CaiCai & Ben
  .by_farbox
    span Proudly published with Hexo
  span
    i.fa.fa-user &nbsp;
    span#busuanzi_container_site_uv
      span#busuanzi_value_site_uv
        i.fa.fa-spinner.fa-spin
      |  visitors | 
    i.fa.fa-eye &nbsp;
    span#busuanzi_container_site_pv
      span#busuanzi_value_site_pv
        i.fa.fa-spinner.fa-spin
      |  views
