doctype
html(lang="en")
  head
    include head

  body
    include sidebar
    .main
      include nav

      block content

    script(src= url_for('js/jquery.js'))
    script(src= url_for('js/jquery-migrate-1.2.1.min.js'))
    script(src= url_for('js/jquery.appear.js'))
    script.
      var link = '';
      (function() {
        $("img").each( (i,o) => {
          var o = $(o);
          var s = o.attr("src");
            // 判断图片的链接是否包含新浪或掘金的关键字
          if( s.indexOf("sinaimg") > 0 || s.indexOf('gold') > 0 ){
            // 给这个标签加上referrerPlicy属性
            o.attr("referrerpolicy","no-referrer");
              // 备份图片的src
            link = o.attr("src");
              // 重新设置src，让页面重新加载一次图片
            o.attr("src",link);
          }
        });
      })();
